---
layout: default
---

<div class="home">

  <table>
    <tr>
      <th><a href="{{ site.url }}" title="Home page with short blog posts">Home</a></th>
      {% for label in site.category %}
      <th><a href="{{ site.url }}/{{ label.permalink }}" title="{{ label.short-description }}">{{ label.title }}</a></th>
      {% endfor %}
    </tr>
  </table>
  
  <h1 class="page-heading">Brief Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.category %}
    {% else %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}
	<p>{{ post.excerpt} }}</p>
	<a class="post-link" href="{{ post.url | relative_url }}">{{ (click to continue...) }}</a>	
      </span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
